[tool.poetry]
name = "stacklet.client.sinistral"
version = "0.2.4"
description = "Sinistral CLI"
authors = ["Sonny Shi <sonny@stacklet.io>"]
maintainers = ["Stacklet <hello@stacklet.io>"]
license = "Apache-2.0"
readme = "README.md"

[[tool.poetry.packages]]
include = "stacklet"

[tool.poetry.dependencies]
python = ">=3.10,<4"
requests = "^2.28.2"
boto3 = "^1.26.72"
click = "^8.1.3"
jsonschema = "^4.17.3"
jmespath = "^1.0.1"
pyjwt = "^2.6.0"
pyrsistent = "^0.19.3"
pyyaml = "^6.0"
c7n-left = "^0.3.0"


[tool.poetry.group.dev.dependencies]
moto = {extras = ["cognito-idp"], version = "^4.1.3"}
python-jose = "^3.3.0"
pre-commit = "^3.1.0"
black = "^23.1.0"
flake8 = "^6.0.0"
pytest = "^7.2.1"
pytest-cov = "^4.0.0"
coverage = "^7.2.0"
jsonref = "^1.1.0"
ipdb = "^0.13.13"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
sinistral = "stacklet.client.sinistral.cli:main"
